<!DOCTYPE html>
<html>
<head>
    <title>casamance</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../Style/bootstrap-cerulean.min.css">
    <link rel="stylesheet" type="text/css" href="../Style/style.css">
    <link rel="stylesheet" type="text/css" href="../Style/casamance.css">
</head>
<body>
<div class="container col-md-8 col-md-offset-2">
        <nav class="navbar navbar-inverse">
            <ul class="nav nav navbar-nav">
                <li><a href="../index.html">ACCUEIL</a></li>
                <li><a href="saloum.html">ILES DU SALOUM</a></li>
                <li><a href="gore.html">ILE DE GOREE</a></li>   
                <li><a href="lac.html">LAC ROSE</a></li>
                <li><a href="djoudj.html">PARC DE DJOUDJ</a></li>
                <li><a href="cercle.html">CERCLES MEGALITIGUES</a></li>
                <li><a href="casamance.html">CASAMANCE</a></li></br>
            </ul>
        </nav>
    
<h2 style="color: blue";>La casamance au Senegal</h2>
            <p style="color: white";>Pour bien visiter le Sénégal, n’hésitez pas à aller au plus proche des villages, dans la Casamance, région située au nord-ouest du Sénégal, entre la Guinée-Bissau et la Gambie. Elle est considérée pour certains comme la plus belle région du pays. Elle tire son nom du fleuve et compte de nombreuses îles et des milliers d’oiseaux. Avec une végétation luxuriante, des rizières et des mangroves, partez à la découverte des villes de Ziguinchor, les plages de Cap Skirring, Oussouye, Kolda, Sédhiou, Vélingara… Entre les délicieux fruits et les rencontres avec les habitants, vous allez multiplier les découvertes.</p>
            <div class="image">
                <img src="img/casamances.jpg">
                
            </div>
            <h2 style="color: blue";>Ziguinchor</h2>
            <p style="color: white";>C’est la plus importante ville de la Casamance, elle est beaucoup plus propre et nonchalante que Dakar, et c’est tant mieux ! Elle compte plusieurs hôtels agréables et de nombreux  restaurants pour acceuillir les touristes. Avec ses jolie maisons coloniale, c’est dans le quartier de l’escale , le centre historique, que se concentre le patrimoine coloniale. Ne manquez pas la visite de l’alliance franco-sénégalaise qui avec son étonnante architecture, constitue la vitrine culturelle de Ziguinchor. IL y a souvent de nombreux événements  tels que des conférences, expositions, spectacles, café-concert, etc.</p>
            <div class="image">
                <img src="img/ziguinchor.jpg">
                


            </div>
            <h2 style="color: blue";> Oussouye</h2>
            <p style="color: white";>Située entre Ziguinchor et Cap-skirring, Oussouye est une paisible bourgade ou la culture diola est plus persistante qu’ailleurs. Le village est entouré d’épaisses forêts, dont la plupart sont des bois sacrés de la tradition Diola. Chaque année avant la fin de l’hiver et pendant une semaine, a lieu la fête du roi d’Oussouye. Il y a des danses, de la musique, et des tournois de lutte traditionnelle. Le roi d’Oussouye, et connu et respecté par tous les Diolas de la région. C’est à la fois le chef religieux et politique de son royaume, c’est lui décide des différentes étapes qui rythment la vie des habitants, comme par exemple, il fixe la date des grands travaux agricoles et des cérémonies importantes. A 5 km au sud-est d’Oussouye, se trouve le village de Niambalangqui abrite l’une des seules cases à impluvium de la région. Elle fut construite en 1981 et à l’intérieurs, la vente de poupées artisanales sert à financer sa restauration.</p>
            <div class="image">
                <img src="img/oussouye.jpg">
                


            </div>
            <div>
                <p style="color: blue";>Venez visiter le Goréé </p>
                <iframe width="560" height="315" src="img/cercle.mp4"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
              <footer>
                
                    <div class="footer-bottom">
                            <p>&copy;Copyright |Design by Maimouna Sarr| A.L INDUSTRIES-Tous Droits Réservés<br></p>  
                    </div>
              
    </body>
    </html>
