<!DOCTYPE html>
<html>
<head>
	<title>cercle megalithique</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../Style/bootstrap-cerulean.min.css">
	<link rel="stylesheet" type="text/css" href="../Style/style.css">
	<link rel="stylesheet" type="text/css" href="../Style/cercle.css">
</head>
<body>
<div class="container col-md-8 col-md-offset-2">
		<nav class="navbar navbar-inverse">
			<ul class="nav nav navbar-nav">
				<li><a href="../index.html">ACCUEIL</a></li>
				<li><a href="saloum.html">ILES DU SALOUM</a></li>
				<li><a href="gore.html">ILE DE GOREE</a></li>	
				<li><a href="lac.html">LAC ROSE</a></li>
				<li><a href="djoudj.html">PARC DE DJOUDJ</a></li>
				<li><a href="cercle.html">CERCLES MEGALITIGUES</a></li>
				<li><a href="casamance.html">CASAMANCE</a></li>
			</ul>
		</nav>
	 </div> 
<div id="ville">
            
            <section> 
                <article>
                    <div class="video">
                        <iframe width="560" height="315" src="img/cercle.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div> 
                      
                     <p>L'ensemble se compose de 93 cercles d'un diamètre de 4 à 6 mètres formés chacun de 8 à 14 pierres verticales. Ils se répartissenent sur quatre sites : 52 cercles à Sine Ngayène, 21 à Wanar, 11 à Wassu et 9 à Kerbatch.<br> Ils totalisent plus de 1 000 monuments mégalitihiques concentrés sur une bande de 100 kilomètres de large longeant le fleuve Gambie sur 350 kilomètres. <br>Les colonnes, à base cylindriques ou polygonales, mesurent environ 2 mètres et pèsent jusqu'à 2 tonnes1.

                     <br>Les cercles sélectionnés s'inscrivent dans un contexte archéologique et mégalithique plus large couvrant une aire de 38 000 km2, comprenant également des cercles pierriers non dressés, des tumulus pierriers et des fosses au comblement tumulaire2.
                    </p>
                    </article>
                <aside>
                    <h1>Découvrir, les cercles megalithiques du Sénégal</h1>
                    <hr>
                
                   <p>Les cercles mégalithiques de Sénégambie sont des cercles de pierre construits et disposés entre le Ier et les débuts du IIe millénaire.

Le site a été inscrit en 2006 sur la liste du patrimoine mondial de l'UNESCO à l'occasion de la 30e session du comité du patrimoine mondial. 
                        <br> Ils sont faits de roches volcaniques ou de concrétions latéritiques assez faciles à travailler. Ils se trouvent à la frontière du Sénégal et de la Gambie.
Le site a été inscrit en 2006 sur la liste du patrimoine mondial de l'UNESCO à l'occasion de la 30e session du comité du patrimoine mondial. 
                        <br>
                    </p>
            </section><hr>
            <div>
                <h4><marquee behavior="s" direction="left"><span style="color: #fff;">....MERCI DE VOTRE VISITE....</span></marquee></h4>  
            </div>    
        </div>
        <footer>
            <div class="footer-bottom">
                Copyright &copy;Maimouna Sarr 2021 | 2020 -2021 | All Rights Reserved.
            </div>
        </footer>



</body>
</html>