<!DOCTYPE html>
<html>
<head>
    <title>Parc de djoudj</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../Style/bootstrap-cerulean.min.css">
    <link rel="stylesheet" type="text/css" href="../Style/style.css">
    <link rel="stylesheet" type="text/css" href="../Style/djoudj.css">
</head>
<body>
<div class="container col-md-8 col-md-offset-2">
        <nav class="navbar navbar-inverse">
            <ul class="nav nav navbar-nav">
                <li><a href="../index.html">ACCUEIL</a></li>
                <li><a href="saloum.html">ILES DU SALOUM</a></li>
                <li><a href="gore.html">ILE DE GOREE</a></li>   
                <li><a href="lac.html">LAC ROSE</a></li>
                <li><a href="djoudj.html">PARC DE DJOUDJ</a></li>
                <li><a href="cercle.html">CERCLES MEGALITIGUES</a></li>
                <li><a href="casamance.html">CASAMANCE</a></li></br>
            </ul>
        </nav>
    
<h2 style="color: blue";>Parc national des oiseaux du Djoudj</h2>
            <p style="color: white";>Le parc national des oiseaux du Djoudj (PNOD) est situé à une soixantaine de kilomètres au nord de Saint-Louis du Sénégal. Paradis des oiseaux migrateurs,le parc est la troisième réserve ornithologique du monde Créé en 1971, agrandi en 1975, le parc a été classé en 1980 « zone humide d'importance internationale » par la Convention de Ramsar1, puis inscrit au Patrimoine mondial de l'Unesco en 19812.</p>
            <div class="image">
                <img src="img/gps1.png">
               <img src="img/djoudj.jpg">
                <img src="img/djoudj2.jpg">
            </div>
            <h2 style="color: blue";>Diversité des espèces</h2>
            <p style="color: white";>Le nombre d'oiseaux migrateurs est estimé à quelque trois millions, répartis en 350 espèces, en particulier le flamant rose, le pélican blanc (Pelecanus onocrotalus), quatre espèces d'aigrettes, l'oie de Gambie et le héron cendré. Les canards sont nombreux (souchets, pilets, sarcelles, etc.). On peut aussi observer de grands cormorans, des martins-pêcheurs ou des balbuzards.Varans et pythons se dissimulent parfois dans les herbes, ainsi que de petits crocodiles. En ce qui concerne les mammifères, il s'agit surtout de vaches, de singes rouges (patas) et de phacochères, mais hyènes, chats de Libye, servals et gazelles dorcas vivent aussi dans le parc.</p>
            <div class="image">
                <img src="img/crocodile.jpg">
                <img src="img/reptile.jfif">
                <img src="img/oiseaux.jfif">


            </div>
            <h2 style="color: blue";> Visite du parc </h2>
            <p style="color: white";>Le parc est ouvert de début novembre à fin avril. La visite s'effectue généralement en pirogue.</p>
            <div>
                <p style="color: blue";>Venez visiter le Goréé </p>
                <iframe width="560" height="315" src="img/djoudj.mp4"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
              <footer>
                
                    <div class="footer-bottom">
                            <p>&copy;Copyright |Design by Maimouna Sarr| A.L INDUSTRIES-Tous Droits Réservés<br></p>  
                    </div>
              
    </body>
    </html>
